/* About.css */
.user-count {
    font-size: 24px;
    font-weight: bold;
    animation: pulse 1.5s infinite alternate; /* Add a simple pulsing animation */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  